h1 {
   display: flex;
   justify-content: center; 
   color: white;
   background-color: rgb(29, 29, 58);
   padding: 20px;
   margin-bottom: 0%;
}

h2 {
    margin-top: 10px;
}

main {
    display: flex;
    height: 100vh;
}

aside {
    background-color: rgb(202, 202, 202);
    width: 25vw;
    padding: 10px;
}

section {
    background-color: rgb(236, 235, 235);
    width: 75vw;
    padding: 10px;
}

.cityDash {
    border-style: solid;
    border-color: gray;
    border-radius: 10px;
}

h2,
.cityDash p {
    padding-left: 15px;
}

.day {
    background-color: rgb(0, 140, 255);
    color: white;
    padding: 10px;
    border-radius: 10px;
    margin: 10px;
    text-align: center;
}

.row {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-self: center;
}

li {
    list-style-type: none;
}

.uvIndexBox {
    background-color: rgb(226, 84, 84);
    color: white;
}